
@using Website.Models;
@model SanPham
@{
    ViewBag.Title = "Chi tiết sản phẩm "+ @Model.TenSanPham+"";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href="~/fonts/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<style>
    .cart a {
        color: red !important;
    }

    .cart a:hover i {
        color: black !important;
    }
</style>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container">
    <div class="row" >
        <div id="detail" class="parent">
            <div class="col-md-4 col-xs-4 child">
                <a href="@Url.Action("Detail","SanPham",new { @id = Model.SanPhamID })">
                    <img src="~/Content/images/Photos/@Model.Hinh" alt="@Model.TenSanPham" class="img-thumbnail zoom transition" style="width:100%"/>
                </a>
            </div>
            <div class="col-md-8">
                <h2 style="margin-bottom:30px;">@Model.TenSanPham </h2>
                @if (Model.NgungBan == true)
                {
                    <p class="text-danger">Hết hàng</p>
                }
                <p>Thuộc nhóm : @Model.Nhomsp.TenNhomsp</p>
                <p>@Model.MoTa</p>
                <h4>
                    <strong>Giá bán : @Model.DonGia VNĐ</strong>
                </h4> 
                <hr />                   
                @if (Model.GiaKM != 0)
                {
                    <h4>
                        <strong>Giá khuyến mại : @Model.GiaKM VNĐ</strong>
                    </h4>
                    <hr />
                }            
                <div class="col-md-12">
                    <a href="@Url.Action("ThemVaoGio","Shopping",new {SanPhamID=Model.SanPhamID })" class="btn btn-primary">
                       <span class="glyphicon glyphicon-shopping-cart"></span>Cho vào giỏ hàng
                    </a>                    
                </div>
                <div class="col-md-12">
                    <div class="fb-like" data-href="http://localhost:49586/SanPham/Detail" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true" style="margin-top:20px"></div>
                </div>  
                <div class="col-md-12">
                    <div class="fb-comments" data-href="http://localhost:49586/SanPham/Detail" data-numposts="5"></div>
                </div>            
               <div class="col-md-12">              
                   <ul class="pager">
                      
                        <li class="previous"><a href="@Url.Action("Index","Home")">&larr; Quay lại</a></li>                      
                       <li class="next"><a href="@Url.Action("Detail","SanPham",new { @id = Model.SanPhamID+1 })">Xem tiếp &rarr;</a></li>
                   </ul>
               </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="chitetsp">
            <h4><strong>Thông tin chi tiết sản phẩm</strong> </h4>
            <p>
                Việc chọn trang phục tinh tế và đúng cách sẽ giúp hình ảnh của các cô nàng béo bụng trở nên bắt mắt và tỏa sáng hơn rất nhiều.
            </p>
            <table class="table" cellpadding="5px">
                <thead>
                    <tr>
                        <th colspan="4" style="text-decoration:underline;color:blue">Hướng dẫn giao hàng :</th>
                    </tr>
                    <tr>
                        <th>Khu vự giao hàng</th>
                        <th>Phương thức thanh toán</th>
                        <th>Thời gian giao hàng</th>
                        <th>Phí vận chuyện</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Nội thành TP.HCM ( Q.1, Q3, Q.4, Q.5, Q10, Q. Bình Thạnh, Q. Phú Nhuận, Q, Gò Vấp, Q. Tân Bình) 
                            Ngoại thành TP.HCM ( Q.2, Q.6, Q.7, Q.8, Q.11, Q. Tân Phú, Q. Bình Tân)
                        </td>
                        <td>
                            Chuyển khoản, COD, thanh toán trực tiếp( không áp dụng với các quận: Nhà Bè, Hóc Môn, Bình Chánh, Q.12, Thủ Đức, Q. 9)
                        </td>
                        <td>
                            Nhận hàng trong vòng từ 1~3 ngày sau khi hoàn thành đặt hàng
                        </td>
                        <td>
                            Nội thành: Miễn phí(Không áp dụng cho các chương trình khuyến mãi) 
                            ( Nếu trường hợp không lấy SP phí vận chuyển 30.000 VNĐ) Ngoại thành: Phí vận chuyển 30.000 VNĐ 
                            ( Từ 2 SP miễn phí vận chuyển, trường hợp không lấy SP phí vận chuyển 50.000 VNĐ)(Không áp dụng cho các chương trình khuyến mãi)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Toàn bộ tỉnh, thành phố khác
                        </td>
                        <td>
                            Chuyển khoản và COD
                        </td>
                        <td>
                            Với khách hàng chuyển khoản trước: 3-4 ngày kể từ ngày chuyển khoản. Đối với COD: nhận hàng sau 4-6 ngày
                        </td>
                        <td>
                            Mua 1 sp phí là 35.000 VNĐ. Từ 2 sản phẩm được miễn phí vận chuyển(Không áp dụng cho các chương trình khuyến mãi)
                        </td>
                    </tr>
                    <tr>
                        <th colspan="4" style="text-decoration:underline;color:blue">
                            Điều kiện đổi hàng :
                        </th>
                    </tr>
                    <tr>
                        <th>Khu vực</th>
                        <th>Quy định chung</th>
                        <th>Các thức đổi hàng</th>
                        <th>Phí đổi hàng</th>
                    </tr>
                    <tr>
                        <td>TP.HCM</td>
                        <td>
                            Hàng còn nguyên tem, mạc, hóa đơn, không bị dơ bẩn, hư hỏng, chưa qua sử dụng hoặc giặt tẩy. Liên hệ đổi hàng sau 13:30
                        </td>
                        <td>
                            Ghé bất kỳ cửa hàng để đổi trong vòng 3 ngày.
                        </td>
                        <td>
                            Miễn phí
                        </td>
                    </tr>
                    <tr>
                        <td>Toàn bộ tỉnh, thành phố khác</td>
                        <td>
                            Hàng còn nguyên tem, mạc, hóa đơn, không bị dơ bẩn, hư hỏng, chưa qua sử dụng hoặc giặt tẩy. Liên hệ đổi hàng sau 13:30
                        </td>
                        <td>
                            Gửi lại sản phẩm đổi đến địa chỉ: Nguyễn Thị Mông Thu.40 Lê Văn Sỹ, phường 11, quận Phú Nhuận. Trong vòng 3 ngày kể từ ngày nhận hàng.
                        </td>
                        <td>
                            35.000 (nếu không mua thêm sản phẩm mới)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="chitetsp">
            <h4><strong>Sản phẩm cùng loại</strong></h4>
            @foreach (SanPham item in ViewBag.spCungLoai)
            {
                <div class="col-md-3 col-xs-6">
                    <div class="sanpham_new ">
                        <div class="sanPhamNoiBat">
                            <a href="@Url.Action("Detail","SanPham",new { @id = item.SanPhamID })">
                                <img src="~/Content/images/Photos/@item.Hinh" alt="@item.TenSanPham" class="image" />
                            </a>
                            <div class="middle">
                                <p class="text-danger" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:22px">@item.TenSanPham</p>
                                <p style="font-size:16px">@item.Nhomsp.TenNhomsp</p>
                                <div class="shop">
                                    <a href="@Url.Action("ThemVaoGio","Shopping",new {SanPhamID=item.SanPhamID })">
                                        <i class="fa fa-shopping-cart fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <p class="namesp col-md-12">
                            <a href="@Url.Action("Detail","SanPham",new { @id = item.SanPhamID })">@item.TenSanPham</a>
                        </p>
                        <div class="col-md-8 cost-left col-xs-8" style="text-align:center">
                            <strong>Giá : @item.DonGia VNĐ</strong>
                        </div>
                        <div class="col-md-4 cart col-xs-4">
                            <a href="@Url.Action("Detail","SanPham",new {id=item.SanPhamID })">
                                Chi tiết
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
    </div>

