@model Website.Models.HopThu

@{
    ViewBag.Title = "Hộp thư";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Xem chi tiết</title>
</head>
<body>
    <div>
        <h4 style="padding-top:20px">Chi tiết hộp thư của <span style="text-decoration:underline" class="text-danger">@Model.Hoten</span></h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
               @Html.DisplayNameFor(model => model.Hoten)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hoten)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SDT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SDT)
            </dd>

            <dt>
               @Html.DisplayNameFor(model => model.NgayCapNhat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayCapNhat)
            </dd>

            <dt>
               @Html.DisplayNameFor(model => model.DaDoc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DaDoc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TieuDe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TieuDe)
            </dd>

            <dt>
               @Html.DisplayNameFor(model => model.NoiDung)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NoiDung)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.HopThuID }, new { @class = "btn btn-sm btn-default" })
        @Html.ActionLink("Về danh sách", "Index", null, new { @class = "btn btn-sm btn-success" })
    </p>
</body>
</html>
