<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - First Website</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_MenuPartial")
    <div class="container body-content">
        <div class="row">
            <div class="col-md-3">
                @Html.Action("_NhomSanPhamTheoPhanLoai","SanPham",new { @PhanLoaiId = Request.QueryString["phanLoaiId"]})
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
    @Html.Partial("_FooterPartial")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

